@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


@font-face {
  font-family: Righteous;
  src: url('../fonts/Righteous/Righteous-Regular.ttf');
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color: #222;
}

#login-error{
    font-size: .8rem;
}

.input-label{
    border: 0;
    user-select: none;
}

#front{
    height: 100vh;
}

.front-logo{
    width: 30%;
    user-select: none;
}

.front-info{
    user-select: none;
}

.btn-primary{
    background-color: #ff4f4f;
    border: 0;
}

.btn-outline-primary{
    border: 1px solid #ff4f4f;
    color: #ff4f4f;
}

.btn-outline-primary:hover{
    border: 1px solid white;
    color: white;
    background-color: #ff4f4f;
}

.btn-primary:hover{
    color: #ff4f4f;
    border: 1px solid #ff4f4f;
    background-color: white;
}

.app-name{
    user-select: none;
}

.padding{
    padding-bottom: 2rem;
}

.app-info{
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.app-info hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.app-what{
    font-size: 200%;
}

.app-what-text{
    font-size: 1rem;
}

.app-info-icon{
    height: 100;
    width: 100px;
    margin-bottom: 10px;
}

.main-content{
    height: calc(100vh - 100px);
}

.homepage-content{
    user-select: none;
    height: 40px;
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    user-select: none;
}

.side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.side-panel a:hover {
    color: #f1f1f1;
}

.side-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    user-select: none;
}

.side-panel-options{
    background-color: #222;
}

.side-panel-options a{
    font-size: .8rem;
}

.openside{
    user-select: none;
}

.center-text{
    font-size: 1.5rem;
    user-select: none;
    font-family: Verdana;
}

.nav{
    height: 60px;
}

.error {
    width: 92%; 
      padding: 10px;
      margin: 0px auto; 
      border: 1px solid #a94442; 
      color: #a94442; 
      background: #f2dede; 
      border-radius: 5px; 
      text-align: center;
    }
.registration-nav{
    height: 50px;
}
.registration-form label{
    font-size: .8rem;
}

.registration-password{
    font-size: .9rem;
}

label{
    user-select: none;
}

.requestform-donor-pic{
    width: 18%;
}

.requestform-request-text{
    font-size: .8rem;
    color: #b4b4b4;
}

.requestform-request-bt{
    width: 35%;
}

.request-form label{
    font-size: .8rem;
}

.request-form textarea{
    font-size: .9rem;
}

.filter{
  position: relative;
}

.filter-buttons{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-buttons select{
    font-size: .7rem;
}

.filter-buttons label{
    font-size: .8rem;
}

.bloodbank-title{
    height: 70px;;
}

.bbank-info-pic{
    width: 12%;
    height: 12%;
}

.bbank-info{
    height: 20vh;
}

.bbank-contact{
    font: .5rem;
}

.bbank-description{
    font-size: .7rem;
    background-color: #dfdfdf;
}
.bbank-description-header{
    font-size: .8rem;
}